@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
    background: aliceblue;
    background-size: cover;
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    justify-content: center;
    overflow-y: hidden;
}

#loader {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#app {
    display: none;
    flex-direction: column;
}

.loader_text {
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
}

.wrapper {
    display: flex;
    column-gap: 10px;
}

.wrapper .dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #ff6702;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: animate 1s ease-in-out infinite alternate;
}

.dot:nth-child(1) {
    animation-delay: -0.25s;
}

.dot:nth-child(2) {
    background: #7c0172;
    animation-delay: -0.5s;
}

.dot:nth-child(3) {
    background: #077207;
    animation-delay: -0.8s;
}
  
@keyframes animate {
    0%{
      transform: translateY(-10px);
    }
    100%{
      transform: translateY(5px);
    }
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 35px;
}

h2 {
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    font-size: 25px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: rgb(255, 94, 0);
}

#reset-btn {
    background: darkred;
}
#decrement-btn {
    background: darkblue;
}

#save-btn {
    background: darkgreen;
}
